* {
    box-sizing: border-box;
  }

#principal{
    background-color: #E0FFFF;
}
#cabecalho{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightblue;
    color: midnightblue;
}


p, ul {
    padding: 5px;
    font-size: 30px;
    color: #E0FFFF;

}
#conteudo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/img/sp.jpeg");
    background-size: cover;
}

#rodape{
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: lightblue;
}

.icone{
    height: 32px; 
    width: 32px;
    align-items: center;
    position: relative;
    top: auto;
    right: -1350px;
}