* {
    box-sizing: border-box;
    background-color: lightgray;
  }

h1{
    text-align: center;
    border: 5px;
}
.box {
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
}
#mae {
    border: darkblue 5px solid;
    padding: 300px;
    position: relative;
  }

#div1 {
    border: 3px black solid;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

#div2 {
    border: 3px black solid;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}

#div3 {
    border: 3px black solid;
    position: fixed;
    right: 620px;
    bottom: 15px;
    background-color: white;
}

p{
    border: 2px black solid;
    background-color: white;
    margin-top: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}