*{
    box-sizing: content-box;
}

h1{
    text-align: center;
}
/*Div principal*/
.principal{
    height: 568px;
    width: 304px;
    left: 160px;
    top: 228px;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
}
/*Imagem*/
.produto{
    width: 240px;
    height: 240px;
    left: 32px;
    top: 32px;
}

.preco{
    color: #B5B5B6;
}

b{
    color: black;
}

h2{
    color: #DA4B4F;
}
/*Cards dos produtos*/
.card1, .card2, .card3{
    border: 1px solid black;
    height: 568px;
    width: 304px;
    left: 160px;
    top: 228px;
    border-radius: 8px;
    padding: 32px;
    margin: 10px;
}

.card1:hover, .card2:hover, .card3:hover{
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    transition: 0.5s;
}

/*Botão*/
.adicionar{
    position: static;
    width: 170px;
    height: 40px;
    left: 32px;
    top: 488px;
    background: #40B25C;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.adicionar:hover{
    background-color: #1C6C3E;
}

.adicionar:active{
    background-color: #A3F9B9;
    width: 220px;
    color: black;
}

i{
    border: 1px solid rgba(0, 0, 0, 0.85);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 100%;
    position: absolute;
    right: 45px;
}

i:active{
    border: none;
    padding: 10px;
    background-color: pink;
}

a:visited{
    border: none;
    padding: 10px;
    background-color: red;
}
