*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

button{
   color: #000;
   background-color: #eaeeae;
   width: 150px;
   height: 75px;
   border-radius: 5px;
   left: 650px;
   position: relative;
}

button:hover{
    background-color: black;
    color: yellowgreen;
    font-size: 30px;
    border-radius: 5px;
    transition-duration: 1s;
    width: 300px;
    height: 150px;

}