* {
    box-sizing: border-box;
}

#banner {
    background-image: url(/img/sandman.jpg);
    background-attachment: fixed;
    height: 720px;
    width: 1280px;
    border: 10px goldenrod double; 
    border-radius: 15px;
    padding-top: 100px;
}

body {
    background-color: darkslategrey;
}

.titulo{
    color: lightgray;
    text-align: center;
}

.btn {
    color: white;
    border-radius: 3px;
    background-color: black;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
